# JOINS 

This jupyter is to join the datasets with their 
one to many notes files.

In [11]:
import string
import bz2
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import nltk.corpus  
import time
import math
import re
import spacy
from nltk.text import Text
from nltk.corpus import stopwords
from itertools import combinations
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from textblob import TextBlob
from nltk.stem.wordnet import WordNetLemmatizer
# from keras.preprocessing import text, sequence
# from keras.utils import to_categorical
# from keras.layers import Bidirectional, GlobalMaxPool1D,GlobalMaxPool2D, GlobalMaxPool3D,Conv1D, Dense, Input, LSTM, Embedding, Dropout, Activation
# from keras.models import Model, Sequential
# from keras.callbacks import EarlyStopping, ModelCheckpoint
%matplotlib inline
plt.style.use('fivethirtyeight')

In [8]:
os.getcwd()

'C:\\Users\\t.cri.kcheung\\capstone_nlp\\src\\joins'

In [14]:
# get all files in subfolder
mypath = "Z:/FINAL OUTPUT v2/"
onlyfiles = [join(mypath,f) for f in listdir(mypath) if isfile(join(mypath, f))]

In [15]:
onlyfiles

['Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

# Modular

In [172]:
onlyfiles_sorted = sorted(onlyfiles, key=lambda x:(x!="PATIENT_COHORT", x))

In [155]:
frame = pd.DataFrame()
list_ = []

def readin(listoffiles,like):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("processed",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            list_.append(df)
#     print(list_)
    frame = pd.concat(list_,join="outer",ignore_index=True)
    return(frame)

In [156]:
cohort1_dta = readin(onlyfiles_sorted,"COHORT_1")

processed Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv
skipped: Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv
skipped: Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv
skipped: Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv
skipped: Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv
skipped: Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv

In [157]:
cohort1_dta.head()

,abstinence_yn,adm_date_d,admit_source_1,admit_source_2,admit_source_3,admitting_prov_id,admitting_provider_department,age_at_last_encounter,alcohol_oz_per_wk,alcohol_src_c,...,tobacco_pak_per_dy,tobacco_used_years,tobacco_user,unknown_fam_hx_yn,visit_status_1,visit_status_2,visit_status_3,visit_status_4,years_education,zip_d
0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,NaN,Not Asked,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,NaN,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,NaN,Never,NaN,NaN,NaN,NaN,NaN,16.0,NaN
3,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,15.0,Quit,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
cohort1_dta.shape

(2140, 116)

In [160]:
cohort1_dta.columns

Index(['abstinence_yn', 'adm_date_d', 'admit_source_1', 'admit_source_2',
       'admit_source_3', 'admitting_prov_id', 'admitting_provider_department',
       'age_at_last_encounter', 'alcohol_oz_per_wk', 'alcohol_src_c',
       ...
       'tobacco_pak_per_dy', 'tobacco_used_years', 'tobacco_user',
       'unknown_fam_hx_yn', 'visit_status_1', 'visit_status_2',
       'visit_status_3', 'visit_status_4', 'years_education', 'zip_d'],
      dtype='object', length=116)

In [161]:
cohort2_dta = readin(onlyfiles_sorted,"COHORT_2")

skipped: Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

processed Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

processed Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv
skipped: Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv
processed Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

processed Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv

,abstinence_yn,adm_date_d,admit_source_1,admit_source_2,admit_source_3,admitting_prov_id,admitting_provider_department,age_at_last_encounter,alcohol_oz_per_wk,alcohol_src_c,...,tobacco_pak_per_dy,tobacco_used_years,tobacco_user,unknown_fam_hx_yn,visit_status_1,visit_status_2,visit_status_3,visit_status_4,years_education,zip_d
0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,NaN,Not Asked,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,NaN,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,NaN,Never,NaN,NaN,NaN,NaN,NaN,16,NaN
3,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provider,...,NaN,15.0,Quit,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
cohort2_dta.shape

(5695268, 335)

In [ ]:
cohort2_dta.head()

# Write csvs

In [171]:
cohort1_dta.to_csv(join(mypath,"merged_cohort1.csv"),sep="|")
cohort2_dta.to_csv(join(mypath,"merged_cohort2.csv"),sep="|")

KeyboardInterrupt: