# JOINS 

This jupyter is to join the datasets with their 
one to many notes files.

In [12]:
import string
import bz2
from os import listdir
from os.path import isfile, join
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import nltk.corpus  
import time
import math
import re
import spacy
from functools import reduce
from nltk.text import Text
from nltk.corpus import stopwords
from itertools import combinations
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from textblob import TextBlob
from nltk.stem.wordnet import WordNetLemmatizer
# from keras.preprocessing import text, sequence
# from keras.utils import to_categorical
# from keras.layers import Bidirectional, GlobalMaxPool1D,GlobalMaxPool2D, GlobalMaxPool3D,Conv1D, Dense, Input, LSTM, Embedding, Dropout, Activation
# from keras.models import Model, Sequential
# from keras.callbacks import EarlyStopping, ModelCheckpoint
%matplotlib inline
plt.style.use('fivethirtyeight')

In [13]:
os.getcwd()

'C:\\Users\\t.cri.kcheung\\capstone_nlp\\src\\joins'

In [14]:
# get all files in subfolder
mypath = "Z:/FINAL OUTPUT v2/"
onlyfiles = [join(mypath,f) for f in listdir(mypath) if isfile(join(mypath, f))]

In [15]:
onlyfiles

['Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort1.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort2.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

# Modular

In [16]:
onlyfiles_sorted = sorted(onlyfiles, key=lambda x:(x!="PATIENT_COHORT", x))

In [17]:
frame = pd.DataFrame()
list_ = []

def readin(listoffiles,like):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            list_.append(df)
    suffix = ('_patient', '_encounter', '_encounter_provider', '_encounter_social','_dx_info','_radiology')
    for i in range(0,len(list_)):
        print("iteration number",i)
        tmp1 = pd.DataFrame(list_[i].iloc[:,0])
        print("suffix : ",suffix[i])
#         print(tmp1)
        print(list_[i].iloc[i])
        list_[i] = list_[i].iloc[:,1:].add_suffix(suffix[i])
        list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
    frame = reduce(lambda x, y: pd.merge(x, y, on = 'patient_id',how="left"), list_)
    return(frame)

In [18]:
cohort1_dta = readin(onlyfiles_sorted,"COHORT_1")

processed Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv
skipped: Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv
skipped: Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv
processed Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv
skipped: Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv
skipped: Z:/FINAL OUTPUT v2/merged_cohort1.csv
skipped: Z:/FINAL OUTPUT v2/merged_cohort2.csv
0
1
2
3
4
5

In [19]:
cohort1_dta.shape

(106212, 119)

In [20]:
cohort1_dta.head()

,patient_id,age_at_last_encounter_patient,gender_patient,race_patient,ethnicity_patient,date_of_death_d_patient,encounter_id_encounter,enc_eio_encounter,visit_status_1_encounter,visit_status_2_encounter,...,dx_12_dx_info,dx_desc_12_dx_info,dx12_rank_dx_info,dx_13_dx_info,dx_desc_13_dx_info,dx13_rank_dx_info,encounter_id_radiology,order_proc_id_deid_radiology,ordering_date_off_radiology,exam_type _radiology
0,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,74912,63.0,F,Black/African-American,Not Hispanic or Latino,NaN,5237464,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
cohort1_dta.encounter_id_radiology

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18        6862790.0
19        6862790.0
20        6862790.0
21              NaN
22              NaN
23              NaN
24              NaN
25              NaN
26              NaN
27              NaN
28              NaN
29              NaN
            ...
106182    8425699.0
106183    8425699.0
106184    8425699.0
106185    8425699.0
106186    8425699.0
106187    8425699.0
106188    8425699.0
106189    8425699.0
106190    8425699.0
106191    8425699.0
106192    8425699.0
106193    8425699.0
106194    8425699.0
106195    8425699.0
106196    8425699.0
106197    8425699.0
106198    8425699.0
106199    8425699.0
106200    8425699.0
106201    8425699.0
106202    8425699.0
106203    8425699.0
106204    8425699.0
106205    8425699.0
106206    8425699.0
106207    8425699.0
106208    8425699.0
106209    8425699.0
106210    8425699.0
106211    8425699.0
Name: encounter_id_radiology, Length: 106212, dtype: float64

In [23]:
cohort1_dta.iloc[80000,0:]

patient_id                                                                                    1557194
age_at_last_encounter_patient                                                                      41
gender_patient                                                                                      F
race_patient                                                                     Asian/Mideast Indian
ethnicity_patient                                                              Not Hispanic or Latino
date_of_death_d_patient                                                                           NaN
encounter_id_encounter                                                                        5403357
enc_eio_encounter                                                                                   O
visit_status_1_encounter                                                                    Completed
visit_status_2_encounter                                                                          NaN
visit_status_3_encounter                                                                          NaN
visit_status_4_encounter                                                                          NaN
adm_date_d_encounter                                                          2012-06-29 00:00:00.000
disc_date_d_encounter                                                         2012-06-29 00:00:00.000
start_date_d_encounter                                                        2012-06-29 00:00:00.000
end_date_d_encounter                                                          2012-06-29 00:00:00.000
admit_source_1_encounter                                     Non-Health Care Facility Point of Origin
admit_source_2_encounter                                                                          NaN
admit_source_3_encounter                                                                          NaN
disch_disp_1_encounter                                                                            NaN
disch_disp_2_encounter                                                                            NaN
disch_disp_3_encounter                                                                            NaN
zip_d_encounter                                                                                100091
enc_fin_class_encounter                                                            Managed Care - PPO
encounter_id_encounter_provider                                                               4992137
admitting_prov_id_encounter_provider                                                              NaN
admitting_provider_department_encounter_provider                                                  NaN
attnd_prov_id_encounter_provider                                                                 2873
attending_department_encounter_provider                                              BSD EH PULMONARY
referring_prov_id_encounter_provider                                                             2873
                                                                          ...
dx_desc_5_dx_info                                                                           HYPOXEMIA
dx5_rank_dx_info                                                                                    5
dx_6_dx_info                                                                                   564.00
dx_desc_6_dx_info                                                            UNSPECIFIED CONSTIPATION
dx6_rank_dx_info                                                                                    6
dx_7_dx_info                                                                                   516.34
dx_desc_7_dx_info                                   RESPIRATORY BRONCHIOLITIS INTERSTITIAL LUNG DI...
dx7_rank_dx_info                                                                                    7
dx_8_dx_info                                                                                      NaN
dx_desc_8_dx_info                                                                                 NaN
dx8_rank_dx_info                                                                                  NaN
dx_9_dx_info                                                                                      NaN
dx_desc_9_dx_info                                                                                 NaN
dx9_rank_dx_info                                                                                  NaN
dx_10_dx_info                                                                                     NaN
dx_desc_10_dx_info                                                                                NaN
dx10_rank_dx_info                                                                                 NaN
dx_11_dx_info                                                                                     NaN
dx_desc_11_dx_info                                                                                NaN
dx11_rank_dx_info                                                                                 NaN
dx_12_dx_info                                                                                     NaN
dx_desc_12_dx_info                                                                                NaN
dx12_rank_dx_info                                                                                 NaN
dx_13_dx_info                                                                                     NaN
dx_desc_13_dx_info                                                                                NaN
dx13_rank_dx_info                                                                                 NaN
encounter_id_radiology                                                                    5.40336e+06
order_proc_id_deid_radiology                                                                   654602
ordering_date_off_radiology                                                   2012-06-29 00:00:00.000
exam_type\t\t_radiology                                                       XR Chest PA/Lateral\t\t
Name: 80000, Length: 119, dtype: object

In [24]:
cohort1_dta.columns

Index(['patient_id', 'age_at_last_encounter_patient', 'gender_patient',
       'race_patient', 'ethnicity_patient', 'date_of_death_d_patient',
       'encounter_id_encounter', 'enc_eio_encounter',
       'visit_status_1_encounter', 'visit_status_2_encounter',
       ...
       'dx_12_dx_info', 'dx_desc_12_dx_info', 'dx12_rank_dx_info',
       'dx_13_dx_info', 'dx_desc_13_dx_info', 'dx13_rank_dx_info',
       'encounter_id_radiology', 'order_proc_id_deid_radiology',
       'ordering_date_off_radiology', 'exam_type\t\t_radiology'],
      dtype='object', length=119)

### Prior to loading in lets check for j84.

In [25]:
onlyfiles_sorted[10]

'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv'

In [26]:
cohort2_icd_check = pd.read_csv(onlyfiles_sorted[10],sep="|")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
# get list of columns with dx
dx_cols = [col for col in cohort2_icd_check.columns if 'dx_' in col]
dx_cols[0]

'dx_1'

In [61]:
# all icd codes list
icd_codes_list = ['495','4951','4952','4953','4954','4955','4956','4957','4958','4959','496','515','517','5171','5172','5173','5178','516','5160','5161','5162','5163','51630','51631','51632','51633','51634','51635','51636','51637','5164','5165','5166','51661','51662','51663','51664','51669','5168','5169','J670','J671','J672','J673','J674','J675','J676','J677','J678','J679','J6710','J8410','J8489','J17','M3481','J99','J8401','J8402','J8403','J84111','J84112','J84113','J84114','J84115','J84116','J84117','J8481','J8482','J8483','J84841','J84842','J84843','J84844','J84845','J84848','J8409','J849']
pattern = '|'.join(icd_codes_list)

In [62]:
# extract all
icd_subset = []

for col in dx_cols:
#     print(col)
    tmpdf = cohort2_icd_check[cohort2_icd_check[col].str.contains(pattern,na=False)]
    icd_subset.append(tmpdf)
# print(icd_subset)

In [70]:
icd_subset_df = icd_subset[0]

In [75]:
len(np.unique(icd_subset_df.PATIENT_ID))

2243

# Now i have all the patients with the relevant icd codes. Around 2k unique of them.

We need to extract all of the relevant records into their own df. Let's tweak the merging into just those of which that are in the lsit of patients.

In [76]:
onlyfiles_sorted

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort1.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort2.csv']

In [77]:
cohort2move = pd.read_csv(onlyfiles_sorted[2],sep="|")
cohort2move.head()

,PATIENT_ID,AGE_AT_LAST_ENCOUNTER,gender,race,ETHNICITY,DATE_OF_DEATH_D
0,49,79.0,M,White,Not Hispanic or Latino,NaN
1,99,86.0,F,White,Not Hispanic or Latino,NaN
2,104,84.0,M,White,Not Hispanic or Latino,NaN
3,114,66.0,F,White,Not Hispanic or Latino,NaN
4,118,92.0,F,Black/African-American,Not Hispanic or Latino,NaN

In [81]:
cohort2movedf = cohort2move[cohort2move.PATIENT_ID.isin(icd_subset_df.PATIENT_ID)]

In [115]:
cohort2movedf.to_csv(join(mypath,"01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv"),sep="|",index=False)

In [159]:
del cohort2_icd_check

### Prior to loading in the second cohort let's randomly sample in 10k rows

In [175]:
cohort2move.head()

,PATIENT_ID,AGE_AT_LAST_ENCOUNTER,gender,race,ETHNICITY,DATE_OF_DEATH_D
0,49,79.0,M,White,Not Hispanic or Latino,NaN
1,99,86.0,F,White,Not Hispanic or Latino,NaN
2,104,84.0,M,White,Not Hispanic or Latino,NaN
3,114,66.0,F,White,Not Hispanic or Latino,NaN
4,118,92.0,F,Black/African-American,Not Hispanic or Latino,NaN

In [85]:
cohort2removeddf = cohort2move[~cohort2move.PATIENT_ID.isin(icd_subset_df.PATIENT_ID)]

In [86]:
cohort2sampdf = cohort2removeddf.sample(n=30000,random_state=10,replace=False)
cohort2sampdf.shape

(30000, 6)

In [87]:
cohort2sampdf.to_csv(join(mypath,"01_PATIENT_COHORT_2_NEW.csv"),sep="|")

# Next step we need to create a join list with just the ids in moved from cohort2 set

Then we can merge them into a consolidated cohort1

In [160]:
# quick mem check
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

[('cohort1_dta_part2', 4345755538),
 ('cohort1_dta', 484277631),
 ('cohort2removeddf', 32042224),
 ('cohort2move', 31691931),
 ('icd_subset_df', 25252484),
 ('j84_df', 13203326),
 ('cohort2sampdf', 8145564),
 ('cohort2movedf', 611123),
 ('dx_cols', 1448),
 ('icd_subset', 1448),
 ('NaiveBayesAnalyzer', 1056),
 ('Text', 1056),
 ('TextBlob', 1056),
 ('WordNetLemmatizer', 1056),
 ('icd_codes_list', 680),
 ('pattern', 476),
 ('combinations', 400),
 ('onlyfiles_sorted', 240),
 ('onlyfiles', 192),
 ('onlyfiles2', 192),
 ('onlyfiles2edit', 160),
 ('isfile', 136),
 ('join', 136),
 ('readin', 136),
 ('readin2', 136),
 ('list_', 128),
 ('mypath', 108),
 ('suffix', 96),
 ('np', 80),
 ('pd', 80),
 ('plt', 80),
 ('sns', 80),
 ('listdir', 72),
 ('reduce', 72),
 ('col', 59),
 ('x', 59),
 ('stopwords', 56),
 ('row', 53),
 ('frame', 24),
 ('tmpdf', 24)]

In [116]:
onlyfiles2 = [join(mypath,f) for f in listdir(mypath) if isfile(join(mypath, f))]

In [117]:
onlyfiles2

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort1.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort2.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

In [150]:
onlyfiles2edit = list( onlyfiles2[i] for i in [0, 6, 7, 13,14,15] )
# onlyfiles2edit = list( onlyfiles2[i] for i in [0,15] )

In [151]:
onlyfiles2edit

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

In [ ]:
# test
def test(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            df = df[df['patient_id'].isin(patientids)]
            return(df)

In [169]:
patientlist = [114]

In [173]:
test(onlyfiles2edit,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv

,patient_id,age_at_last_encounter,gender,race,ethnicity,date_of_death_d
0,114,66.0,F,White,Not Hispanic or Latino,NaN

### Edited fx

For mem purposes let's amend each read in to be just where it matches the patient id string

In [180]:
patientlist = icd_subset_df['PATIENT_ID']

In [174]:
frame = pd.DataFrame()
list_ = []

def readin_select(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            df = df[df['patient_id'].isin(patientidlist)]
            list_.append(df)
    suffix = ('_patient', '_encounter', '_encounter_provider', '_encounter_social','_dx_info','_radiology')
    for i in range(0,len(list_)):
        print("iteration number",i)
        tmp1 = pd.DataFrame(list_[i].iloc[:,0])
        print("suffix : ",suffix[i])
#         print(tmp1)
        print(list_[i].iloc[i])
        list_[i] = list_[i].iloc[:,1:].add_suffix(suffix[i])
        list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
    frame = reduce(lambda x, y: pd.merge(x, y, on = 'patient_id',how="left"), list_)
    return(frame)

In [157]:
cohort1_dta_part2 = readin_select(onlyfiles2edit,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv
added to list_ Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv
added to list_ Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv
iteration number 0
suffix :  _patient
patient_id                                  114
age_at_last_encounter                        66
gender                                        F
race                                      White
ethnicity                Not Hispanic or Latino
date_of_death_d                             NaN
Name: 0, dtype: object
iteration number 1
suffix :  _encounter
patient_id                                              49
encounter_id                                       7460089
enc_eio                                                  I
visit_status_1                                   Completed
visit_status_2                                         NaN
visit_status_3                                         NaN
visit_status_4                                         NaN
adm_date_d                         2016-05-20 00:00:00.000
disc_date_d                        2016-05-27 00:00:00.000
start_date_d                       2016-05-20 00:00:00.000
end_date_d                         2016-05-27 00:00:00.000
admit_source_1    Non-Health Care Facility Point of Origin
admit_source_2                                         NaN
admit_source_3                                         NaN
disch_disp_1                                          Home
disch_disp_2                                           NaN
disch_disp_3                                           NaN
zip_d                                               113043
enc_fin_class                                     Medicare
Name: 1, dtype: object
iteration number 2
suffix :  _encounter_provider
patient_id                            155043
encounter_id                          155164
admitting_prov_id                        NaN
admitting_provider_department            NaN
attnd_prov_id                           6622
attending_department             UC MATTESON
referring_prov_id                      84269
referring_department                     NaN
Name: 2, dtype: object
iteration number 3
suffix :  _encounter_social
patient_id                                      49
contact_date_off           2016-03-02 00:00:00.000
is_tobacco_user                                NaN
tobacco_pak_per_dy                             1.5
tobacco_used_years                              50
tobacco_comment                                NaN
smoking_quit_date_off      2002-01-26 00:00:00.000
cigarettes_yn                                    Y
pipes_yn                                         N
cigars_yn                                        N
snuff_yn                                         N
chew_yn                                          N
is_alcohol_user                                NaN
alcohol_oz_per_wk                          5.4 - 6
is_ill_drug_user                               NaN
iv_drug_user_yn                                  N
illicit_drug_freq                              NaN
is_sexually_actv                               NaN
female_partner_yn                                N
male_partner_yn                                  N
condom_yn                                        N
pill_yn                                          N
diaphragm_yn                                     N
iud_yn                                           N
surgical_yn                                      N
spermicide_yn                                    N
implant_yn                                       N
rhythm_yn                                        N
injection_yn                                     N
sponge_yn                                        N
inserts_yn                                       N
abstinence_yn                                    N
years_education                                NaN
tob_src_c                                 Provider
alcohol_src_c                             Provider
sex_src_c                                 Provider
alcohol_use_c                                  Yes
ill_drug_user_c                                 No
sexually_active_c                        Not Asked
tobacco_user                                  Quit
smokeless_tob_use_c                              3
smokeless_quit_date_off                        NaN
smoking_tob_use                      Former Smoker
unknown_fam_hx_yn                              NaN
smoking_start_date_off                         NaN
Name: 3, dtype: object
iteration number 4
suffix :  _dx_info
patient_id                                    195
encounter_id                              4244310
dx_1                                       780.09
dx_desc_1       ALTERATION OF CONSCIOUSNESS OTHER
dx1_rank                                        1
dx_2                                          NaN
dx_desc_2                                     NaN
dx2_rank                                      NaN
dx_3                                          NaN
dx_desc_3                                     NaN
dx3_rank                                      NaN
dx_4                                          NaN
dx_desc_4                                     NaN
dx4_rank                                      NaN
dx_5                                          NaN
dx_desc_5                                     NaN
dx5_rank                                      NaN
dx_6                                          NaN
dx_desc_6                                     NaN
dx6_rank                                      NaN
dx_7                                          NaN
dx_desc_7                                     NaN
dx7_rank                                      NaN
dx_8                                          NaN
dx_desc_8                                     NaN
dx8_rank                                      NaN
dx_9                                          NaN
dx_desc_9                                     NaN
dx9_rank                                      NaN
dx_10                                         NaN
                              ...
dx_77                                         NaN
dx_desc_77                                    NaN
dx77_rank                                     NaN
dx_78                                         NaN
dx_desc_78                                    NaN
dx78_rank                                     NaN
dx_79                                         NaN
dx_desc_79                                    NaN
dx79_rank                                     NaN
dx_80                                         NaN
dx_desc_80                                    NaN
dx80_rank                                     NaN
dx_81                                         NaN
dx_desc_81                                    NaN
dx81_rank                                     NaN
dx_82                                         NaN
dx_desc_82                                    NaN
dx82_rank                                     NaN
dx_83                                         NaN
dx_desc_83                                    NaN
dx83_rank                                     NaN
dx_84                                         NaN
dx_desc_84                                    NaN
dx84_rank                                     NaN
dx_85                                         NaN
dx_desc_85                                    NaN
dx85_rank                                     NaN
dx_86                                         NaN
dx_desc_86                                    NaN
dx86_rank                                     NaN
Name: 4, Length: 260, dtype: object
iteration number 5
suffix :  _radiology
patient_id                            1764333
encounter_id                          2837972
order_proc_id_deid                     560741
ordering_date_off     2014-11-01 00:00:00.000
exam_type               XR Port Chest, 1 View
Name: 5, dtype: object

MemoryError:

In [97]:
cohort1_dta_part2.head()

NameError: name 'cohort1_dta_part2' is not defined

### Replace _list with the new filename

We do this so we sample jsut the 10k we pulled out rather than the full datset.

In [247]:
onlyfiles_sorted[1] = join(mypath,"01_PATIENT_COHORT_2_NEW.csv")
onlyfiles_sorted[1]

'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv'

In [373]:
onlyfiles_sorted[0:4]

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv']

In [252]:
cohort2_dta = readin(onlyfiles_sorted[0:4],"COHORT_2")

skipped: Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv
skipped: Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

KeyboardInterrupt:

In [180]:
cohort2_dta.shape

(5695268, 335)

In [181]:
cohort2_dta.head()

,abstinence_yn,adm_date_d,admit_source_1,admit_source_2,admit_source_3,admitting_prov_id,admitting_provider_department,age_at_last_encounter,alcohol_oz_per_wk,alcohol_src_c,...,tobacco_pak_per_dy,tobacco_used_years,tobacco_user,unknown_fam_hx_yn,visit_status_1,visit_status_2,visit_status_3,visit_status_4,years_education,zip_d
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Write csvs

In [182]:
cohort1_dta.to_csv(join(mypath,"merged_cohort1.csv"),sep="|")
cohort2_dta.to_csv(join(mypath,"merged_cohort2.csv"),sep="|")

# Joining to rad notes  

Note the links will be messy until we get clarification.

Second string is "encounter_id"

In [259]:
# extract encounter_id from notes
mypathnotes = "Z:/FINAL OUTPUT v2/NOTES/"
onlyfilesnotes = [join(mypathnotes,f) for f in listdir(mypathnotes) if isfile(join(mypathnotes, f))]
onlyfilesnotes_sorted = sorted(onlyfilesnotes, key=lambda x:(x!="cohort", x))

# cohort 1
notes1 = pd.read_csv(onlyfilesnotes_sorted[0],index_col=None, header=0,sep=",")
notes1.columns = [x.lower() for x in notes1.columns]

# cohort 2
# notes2 = pd.read_csv(onlyfilesnotes_sorted[0],index_col=None, header=0,sep="|")
# notes1.columns = [x.lower() for x in df.columns]

In [260]:
notes1.head()

,unnamed: 0,scantype,scandate,clininfo,technique,comparison,findings,impressions,elecsig,patient,rawtext
0,0,"XR CHEST PA/LATERAL,",2015-06-22**]> 8:24 AM,**NAME<HHH> **AGE<in 50s> years old. Reason: s...,XR CHEST PA/LATERAL,**DATE<[**2015-06-14**]> and previous.,Status post right lung biopsies. No significan...,No significant abnormality following multiple ...,**DATE<[**2015-06-22**]> 10:06 AM **NAME<III J...,5253312_70864302,"XR CHEST PA/LATERAL, **DATE<[**2015-06-22**]> ..."
1,1,CT CHEST W,2015-02-06**]> 12:25 PM,**AGE<in 60s>-year-old male with eye on the,Contrast enhanced chest CT. 120 mL of Omnipaq...,Outside CXR dated **DATE<[**2015-01-11**]>,LUNGS AND PLEURA: Mild subpleural reticulation...,Mild subpleural interstitial fibrosis of undet...,**DATE<[**2015-02-06**]> 2:26 PM **NAME<CCC DD...,5049178_68355312,CT CHEST W **DATE<[**2015-02-06**]> 12:25 PM\...
2,2,"XR CHEST PA/LATERAL,",2015-05-23**]> 10:08 AM,**NAME<FFF> **AGE<in 60s> years old. One month...,XR CHEST PA/LATERAL,**DATE<[**2015-05-02**]>.,Elevation of the left hemidiaphragm unchanged....,Severe interstitial abnormality without visibl...,**DATE<[**2015-05-23**]> 10:42 AM [**Doctor Fi...,5861184_69548263,"XR CHEST PA/LATERAL, **DATE<[**2015-05-23**]> ..."
3,3,"XR CHEST PA/LATERAL,",2015-06-24**]> 12:40 PM,"**NAME<DDD> **AGE<in 50s> years old. Dyspnea, ...",XR CHEST PA/LATERAL,**DATE<[**2014-09-03**]> and previous,Diffuse fine reticular opacities throughout bo...,Diffuse groundglass opacities consistent with ...,**DATE<[**2015-06-24**]> 2:22 PM **NAME<EEE FF...,5630079_69208276,"XR CHEST PA/LATERAL, **DATE<[**2015-06-24**]> ..."
4,4,These outside images were loaded for compariso...,NaN,NaN,NaN,NaN,NaN,NaN,**DATE<[**2018-04-03**]> 8:07 AM Canned Report,8425699_110461983,These outside images were loaded for compariso...

In [264]:
# split 1
notes1[['patient1','patient2']] = notes1['patient'].str.split('_',expand=True)

# split2
# notes2[['patient1','patient2']] = notes2['patient'].str.split('_',expand=True)

In [385]:
notes1_patient = notes1.patient
notes1_patient.to_csv(join(mypath,"/notes_radiology_edited.csv"),sep="|")

### Now join notes for cohort1

In [ ]:
cohort1_dta_notes = pd.merge(cohort1_dta, notes1, on = 'patient_id',how="left")

In [375]:
cohort1_dta[['patient_id','encounter_id_radiology']]

      patient_id  encounter_id_radiology
0          32124                     NaN
1          32124                     NaN
2          32124                     NaN
3          32124                     NaN
4          74912                     NaN
5          74912                     NaN
6          74912                     NaN
7          74912                     NaN
8          74912                     NaN
9          74912                     NaN
10         74912                     NaN
11         81545                     NaN
12         81545                     NaN
13         81545                     NaN
14         93110                     NaN
15         93110                     NaN
16         93110                     NaN
17         93110                     NaN
18        118647                     NaN
19        118647                     NaN
20        118647                     NaN
21        122487                     NaN
22        122522                     NaN
23        122522                     NaN
24        122522                     NaN
25        122522                     NaN
26        136921                     NaN
27        136921                     NaN
28        136921                     NaN
29        136921                     NaN
...          ...                     ...
83847    2047068                     NaN
83848    2047068                     NaN
83849    2047068                     NaN
83850    2047068                     NaN
83851    2122393                     NaN
83852    2122393                     NaN
83853    2122393                     NaN
83854    2122393                     NaN
83855    2122393                     NaN
83856    2122393                     NaN
83857    2122393                     NaN
83858    2122393                     NaN
83859    2122393                     NaN
83860    2122393                     NaN
83861    2122393                     NaN
83862    2122393                     NaN
83863    2122393                     NaN
83864    2122393                     NaN
83865    2122393                     NaN
83866    2122393                     NaN
83867    2122393                     NaN
83868    2122393                     NaN
83869    2122393                     NaN
83870    2122393                     NaN
83871    2122393                     NaN
83872    2122393                     NaN
83873    2122393                     NaN
83874    2122393                     NaN
83875    2122393                     NaN
83876    2122393                     NaN

[83877 rows x 2 columns]

In [376]:
cohort1_dta[cohort1_dta.encounter_id_radiology.notnull()]

Empty DataFrame
Columns: [patient_id, age_at_last_encounter_patient, gender_patient, race_patient, ethnicity_patient, date_of_death_d_patient, encounter_id_encounter, enc_eio_encounter, visit_status_1_encounter, visit_status_2_encounter, visit_status_3_encounter, visit_status_4_encounter, adm_date_d_encounter, disc_date_d_encounter, start_date_d_encounter, end_date_d_encounter, admit_source_1_encounter, admit_source_2_encounter, admit_source_3_encounter, disch_disp_1_encounter, disch_disp_2_encounter, disch_disp_3_encounter, zip_d_encounter, enc_fin_class_encounter, encounter_id_encounter_provider, admitting_prov_id_encounter_provider, admitting_provider_department_encounter_provider, attnd_prov_id_encounter_provider, attending_department_encounter_provider, referring_prov_id_encounter_provider, referring_department_encounter_provider, contact_date_off_encounter_social, is_tobacco_user_encounter_social, tobacco_pak_per_dy_encounter_social, tobacco_used_years_encounter_social, tobacco_comment_encounter_social, smoking_quit_date_off_encounter_social, cigarettes_yn_encounter_social, pipes_yn_encounter_social, cigars_yn_encounter_social, snuff_yn_encounter_social, chew_yn_encounter_social, is_alcohol_user_encounter_social, alcohol_oz_per_wk_encounter_social, is_ill_drug_user_encounter_social, iv_drug_user_yn_encounter_social, illicit_drug_freq_encounter_social, is_sexually_actv_encounter_social, female_partner_yn_encounter_social, male_partner_yn_encounter_social, condom_yn_encounter_social, pill_yn_encounter_social, diaphragm_yn_encounter_social, iud_yn_encounter_social, surgical_yn_encounter_social, spermicide_yn_encounter_social, implant_yn_encounter_social, rhythm_yn_encounter_social, injection_yn_encounter_social, sponge_yn_encounter_social, inserts_yn_encounter_social, abstinence_yn_encounter_social, years_education_encounter_social, tob_src_c_encounter_social, alcohol_src_c_encounter_social, sex_src_c_encounter_social, alcohol_use_c_encounter_social, ill_drug_user_c_encounter_social, sexually_active_c_encounter_social, tobacco_user_encounter_social, smokeless_tob_use_c_encounter_social, smokeless_quit_date_off_encounter_social, smoking_tob_use_encounter_social, unknown_fam_hx_yn_encounter_social, smoking_start_date_off_encounter_social, encounter_id_dx_info, dx_1_dx_info, dx_desc_1_dx_info, dx1_rank_dx_info, dx_2_dx_info, dx_desc_2_dx_info, dx2_rank_dx_info, dx_3_dx_info, dx_desc_3_dx_info, dx3_rank_dx_info, dx_4_dx_info, dx_desc_4_dx_info, dx4_rank_dx_info, dx_5_dx_info, dx_desc_5_dx_info, dx5_rank_dx_info, dx_6_dx_info, dx_desc_6_dx_info, dx6_rank_dx_info, dx_7_dx_info, dx_desc_7_dx_info, dx7_rank_dx_info, dx_8_dx_info, dx_desc_8_dx_info, dx8_rank_dx_info, ...]
Index: []

[0 rows x 119 columns]